---
title: News
layout: default
lang: en
order: 3
redirect_from:
    - /blog.html
---

<h1>
    <i class="far fa-newspaper"></i>
    Our latest news
</h1>
<hr>

<div class="row">
    <div class="col">
        {% include posts-list.html %}
    </div>
    <div class="d-none d-xl-block col-xl-4">
        <h2 class="h4">Next events in Belgium</h2>
        <hr class="mt-0">
        {% include osmcal.html locales="en" %}
        <hr>

        <h2 class="h4">Categories</h2>
        {% include posts-categories.html %}
        <hr>

        <h2 class="h4">Newsletter</h2>
        <p>
            <a target="_blank" href="{{ site.newsletter.subscribe }}">Subscribe</a> to our quarterly newsletter
            (<a target="_blank" href="{{ site.newsletter.archive }}">archive</a>)
        </p>

        {% include twitter.html %}
    </div>
</div>
