version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: monthly
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
- package-ecosystem: "composer"
  directory: ".github/workflows/get-members"
  schedule:
    interval: "monthly"
