<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap Belgium</h2>
        <p>
            We are
            <ul>
                <li>
                    a working group and part of
                    <a href="http://www.openknowledge.be/" target="_blank">Open Knowledge Belgium</a>
                </li>
                <li>
                    a <a href="https://wiki.osmfoundation.org/wiki/Local_Chapters" target="_blank">Local Chapter</a>
                    of the <a href="https://blog.openstreetmap.org/about/" target="_blank">OpenStreetMap Foundation</a>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Partners and associated organizations</h2>
        <p>Become part of our community and our network. Visit us on <a href="http://github.com/osmbe/" target="_blank">GitHub</a>.</p>

        <ul class="default">
            {% for partner in site.data.partners %}
            <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
