<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap Belgique</h2>
        <p>
            Nous sommes
            <ul>
                <li>
                    un groupe de travail membre d'
                    <a href="http://www.openknowledge.be/" target="_blank">Open Knowledge Belgium</a>
                </li>
                <li>
                    un <a href="https://wiki.osmfoundation.org/wiki/Local_Chapters" target="_blank">Local Chapter</a>
                    de l'<a href="https://blog.openstreetmap.org/about/" target="_blank">OpenStreetMap Foundation</a>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Membres <i>corporate</i></h2>
        <p>Ces organisations soutiennent OpenStreetMap Belgique.</p>
        <ul class="corporate-members">
            {% for company in site.data.corporate-members %}
            <li>
                <a href="{{ company.url }}" title="{{ company.name }}" target="_blank">
                    {% if company.logo.dark %}
                    <img src="{{ 'assets/logos/' | append: company.logo.dark | relative_url }}" alt="{{ company.name }}">
                    {% else %}
                    <img src="{{ 'assets/logos/' | append: company.logo | relative_url }}" alt="{{ company.name }}">
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
