<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap België</h2>
        <p>
            Wij zijn
            <ul>
                <li>
                    een werkgroep en deel van <a href="http://www.openknowledge.be/">Open Knowledge Belgium</a>
                </li>
                <li>
                    een <a href="https://wiki.osmfoundation.org/wiki/Local_Chapters">Local Chapter</a>
                    van de <a href="https://blog.openstreetmap.org/about/">OpenStreetMap Foundation</a>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Partnerorganisaties</h2>
        <p>
            Word deel van onze community en ons netwerk.
            Bezoek ons ook op <a href="http://github.com/osmbe/" target="_blank">GitHub</a>.
        </p>

        <ul class="default">
            {% for partner in site.data.partners %}
            <li><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
