<div class="row">
    <div class="col-sm-6">
        <h2>OpenStreetMap België</h2>

        <ul class="part-of">
            <li>
                <img src="{{ 'assets/logos/okbe.png' | relative_url }}" alt="Open Knowledge Belgium">
                <div>
                    Activity van<br>
                    <a href="http://www.openknowledge.be/" target="_blank">Open Knowledge Belgium</a>
                </div>
            </li>
            <li>
                <img src="{{ 'assets/logos/osm.png' | relative_url }}" alt="OpenStreetMap Foundation">
                <div>
                    <a href="https://wiki.osmfoundation.org/wiki/Local_Chapters" target="_blank">Local Chapter</a> van<br>
                    de <a href="https://wiki.osmfoundation.org/" target="_blank">OpenStreetMap Foundation</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h2>Corporate Members</h2>
        <p>Deze organisaties steunen OpenStreetMap Belgium.</p>
        <ul class="corporate-members">
            {% for company in site.data.corporate-members %}
            <li>
                <a href="{{ company.url }}" title="{{ company.name }}" target="_blank">
                    {% if company.logo.dark %}
                    <img src="{{ 'assets/logos/' | append: company.logo.dark | relative_url }}" alt="{{ company.name }}">
                    {% else %}
                    <img src="{{ 'assets/logos/' | append: company.logo | relative_url }}" alt="{{ company.name }}">
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
