<div class="row text-center">
    <div class="col-sm-6">
        <h2>OpenStreetMap Belgique</h2>

        <ul class="part-of">
            <li>
                <img src="{{ 'assets/logos/osm.png' | relative_url }}" alt="OpenStreetMap Foundation">
                <div>
                    <a href="https://wiki.osmfoundation.org/wiki/Local_Chapters" target="_blank">Local Chapter</a> de<br>
                    l'<a href="https://wiki.osmfoundation.org/" target="_blank">OpenStreetMap Foundation</a>
                </div>
            </li>
        </ul>

        <div style="margin-top: 50px;">
            <h3>Bulletin d'information</h3>
            <p>
                <a target="_blank" href="{{ site.newsletter.subscribe }}">Souscrivez</a> à notre bulletin d'information trimestriel
                (<a target="_blank" href="{{ site.newsletter.archive }}">archives</a>)
            </p>
        </div>
    </div>
    <div class="col-sm-6">
        <h2>Membres <i>corporate</i></h2>
        <p>
            Ces organisations
            <a href="{% link fr/support.html %}">soutiennent</a>
            OpenStreetMap Belgique.
        </p>
        <ul class="corporate-members">
            {% for company in site.data.corporate-members %}
            <li>
                <a href="{{ company.url }}" title="{{ company.name }}" target="_blank">
                    {% if company.logo.dark %}
                    <img src="{{ 'assets/logos/' | append: company.logo.dark | relative_url }}" alt="{{ company.name }}">
                    {% else %}
                    <img src="{{ 'assets/logos/' | append: company.logo | relative_url }}" alt="{{ company.name }}">
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
