{% assign lang = page.lang | default: 'en' %}
{% assign url_length = page.url | size %}
{% assign url = page.url | slice: 3, url_length %}
{% assign url2 = page.url | slice: 10, url_length %}

{% for html_page in site.html_pages %}

{% if html_page.name == page.name and html_page.lang == 'en' %}
{% assign item-en = html_page %}
{% elsif html_page.name == page.name and html_page.lang == 'fr' %}
{% assign item-fr = html_page %}
{% elsif html_page.name == page.name and html_page.lang == 'nl' %}
{% assign item-nl = html_page %}
{% endif %}

{% endfor %}

{% for post in site.posts %}

{% assign post_url_length = post.url | size %}
{% assign post_url = post.url | slice: 3, post_url_length %}

{% if post_url == url and post.lang == 'en' %}
{% assign item-en = post %}
{% elsif post_url == url and post.lang == 'fr' %}
{% assign item-fr = post %}
{% elsif post_url == url and post.lang == 'nl' %}
{% assign item-nl = post %}
{% endif %}

{% endfor %}

{% for event in site.events %}

{% assign event_url_length = event.url | size %}
{% assign event_url = event.url | slice: 10, event_url_length %}

{% if event_url == url2 and event.lang == 'en' %}
{% assign item-en = event %}
{% elsif event_url == url2 and event.lang == 'fr' %}
{% assign item-fr = event %}
{% elsif event_url == url2 and event.lang == 'nl' %}
{% assign item-nl = event %}
{% endif %}

{% endfor %}

<header id="header" class="py-3 mb-5" style="background: url({{ 'assets/images/background.jpg' | relative_url }}) center;">
    <div class="container text-center">

        <div id="language-switcher">
            {% if item-en != nil %}
            <a href="{{ item-en.url | relative_url }}">EN</a>
            {% else %}
            <span class="text-muted">EN</span>
            {% endif %}
            &bull;
            {% if item-fr != nil %}
            <a href="{{ item-fr.url | relative_url }}">FR</a>
            {% else %}
            <span class="text-muted">FR</span>
            {% endif %}
            &bull;
            {% if item-nl != nil %}
            <a href="{{ item-nl.url | relative_url }}">NL</a>
            {% else %}
            <span class="text-muted">NL</span>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <img class="mr-5" src="{{ site.baseurl }}/assets/images/logo.svg" style="height:200px;">

            <div>
                <nav id="nav" class="mb-3">
                    <ul class="list-inline my-0">
                        {% assign html_pages = site.html_pages | where: 'lang', lang | where_exp: 'item', 'item.order > 0' |
                        sort: 'order' %}
                        {% for html_page in html_pages %}
                        <li class="list-inline-item">
                            <a href="{{ html_page.url | relative_url }}">{{ html_page.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
        
                <div class="d-flex justify-content-center">
                    <div class="mr-3">
                        {% if lang == 'fr' %}
                        Prochain événement:
                        {% elsif lang == 'nl' %}
                        Volgende evenement:
                        {% else %}
                        Next event:
                        {% endif %}
                    </div>
                    <div id="next-event" class="text-left small"></div>
                </div>
            </div>
        </div>

    </div>
</header>

<script>
    (function () {
        const widget = new OSMCal.WidgetList(document.getElementById("next-event"), { limit: 1, filter: {in: "Belgium"}, locales: "{{ page.lang }}", hideCancelled: true });
        {% raw %}
        widget.setTemplate(
            '<div style="color: #fff;">' +
            '<div class="font-weight-bold">{{ name }}</div>' +
            '<div>{{ date.human }} - {{ location.short }}</div>' +
            '</div>'
        );
        {% endraw %}
        widget.display();
    })();
</script>
