<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == '{{ site.path[page.lang] }}index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/{{ site.path[page.lang] }}index.html">{{ site.home[page.lang] }}</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/{{ site.path[page.lang] }}blog">{{ site.news[page.lang] }}</a></li>
			<li {% if current[1] == 'signup.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/{{ site.path[page.lang] }}signup.html">{{ site.join[page.lang] }}</a></li>
			<li {% if current[1] == 'projects' %}class='current'{% endif %}><a href="{{ site.baseurl }}/{{ site.path[page.lang] }}projects">{{ site.projects[page.lang] }}</a></li>
		</ul>
	</nav>