<div id="osmcal-past" data-in="Belgium" data-locales="{{ include.locales }}"></div>

<script async src="https://unpkg.com/@jbelien/openstreetmap-calendar-widget@0.2.0/dist/osmcal.js"
    integrity="sha512-b0+nLpPCxJAzv5kNuMWZMqvNu0JDqz2FqAhVf9rblldUnzIvVJI5h68iU4ly5OYDfhEMy278FhwNVZvtkc12Ag=="
    crossorigin=""></script>
<script async>
    (function () {
        const widget = new OSMCal.WidgetList(document.getElementById("osmcal-past"), {
            past: true,
        });
        widget.display();
    })();
</script>