
	<div id="main" class="wrapper style1">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
							<h2>Notre communauté</h2>
							<span class="byline">Vous souhaitez rejoindre notre communauté? Vous êtes probablement déjà membre!</span>
						</header>
						<p>En bref, toute personne qui est intéressé par OpenStreetMap en Belgique fait partie de notre communauté. Il y a nos cartographes mais aussi les volontaires qui rendent nos activités possibles et qui nous aident pour les projets divers, mapathons et événements.</p>
						<figure>
							<img style="width: 100%" src="{{ site.baseurl }}/assets/images/community.jpg"/>
							<figcaption style="font-size: 75%; text-align: right;">Nos volontaires à State of the map 2016 à Bruxelles!</figcaption>
						</figure>
						<h4>OpenStreetMap Belgique, notre mission!</h4>
						<p>Puisque tout le monde est déjà membre de la communauté, pourquoi OpenStreetMap Belgique ? Notre mission est de faciliter les activités liées à la cartographie en Belgique et de s'assurer que tout le monde y soit le bienvenu. Vous pouvez voir OpenStreetMap Belgique comme la partie de la communauté qui amène la cartographie un pas plus loin. Si vous souhaitez nous aider à l'amélioration ou faire croître la communauté en Belgique, n'hésitez pas à nous contacter via la page "Devenir membre".</p>
					</section>
				</div>

					<div id="sidebar" class="4u sidebar">
						<a class="twitter-timeline" data-width="400" data-height="1000" href="https://twitter.com/osm_be">Tweets by osm_be</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>

			</div>
		</div>
	</div>
