
	<div id="main" class="wrapper style1">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="8u skel-cell-important">
					<section>
						<header class="major">
							<h2>Onze Community</h2>
							<span class="byline">Intresse in lid worden van onze community? Je bent het waarschijnlijk al!</span>
						</header>
						<p>In het kort is iedereen die interess heeft in OpenStreetMap in België deel van onze community. Ten eerste zijn er onze mappers maar ook vrijwilligers die heel wat activiteiten mogelijk maken of helpen met software projecten, mapathons of events.</p>
						<figure>
							<img style="width: 100%" src="{{ site.baseurl }}/assets/images/community.jpg"/>
							<figcaption style="font-size: 75%; text-align: right;">Onze vrijwilligers op at State of the map in Brussel, 2016!</figcaption>
						</figure>
						<h4>OpenStreetMap Belgium, onze missie!</h4>
						<p>Als iedereen al lid is van de community, waarom dan OpenStreetMap Belgium? Onze missie is om mapping activiteiten te faciliteren in België en om ervoor te zorgen dat iedereen zich welkom voelt. Je kan OpenStreetMap België bekijken als dat deel van de community die nog net stapje verder gaan met mapping dan de rest. Als je ons will helpen met het verbeteren en groeien van de community in België dan kan je bij ons terecht. Kijk eens op de 'join' pagina om lid te worden.</p>
					</section>
				</div>

					<div id="sidebar" class="4u sidebar">
						<a class="twitter-timeline" data-width="400" data-height="1000" href="https://twitter.com/osm_be">Tweets by osm_be</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>

			</div>
		</div>
	</div>