	<!-- Projects -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<div class="row">

				<!-- Content -->
				<div id="content" class="12u skel-cell-important">
					<section>
						<header class="major">
							<h2>Nos Projets</h2>
							<span class="byline">Nous avons plusieurs projets en cours pour améliorer la carte et soutenir la communauté en Belgique.</span>
						</header>
						<div class="row">
						{% for post in site.posts %}
							{% if post.lang == "fr" and post.layout == "project" %}
							<div class="6u" style="height:700px;">
								<section class="box">
									<header>
										<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
										<p>Chef de projet: {{post.project_lead }}</p>
										<!-- <p>Posted {{ post.date | date_to_string }}</p> -->
									</header>
									<a href="{{ site.baseurl }}{{ post.url }}" class="image featured"><img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="" /></a>
									{{ post.excerpt }}
<!--
									<footer>
										<ul class="actions">
											<li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continue Reading</a></li>
											<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
										</ul>
									</footer>
-->
								</section>
							</div>
							{% endif %}
						{% endfor %}
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>