<h3>
    {% case post.category %}
    {% when 'motm' %}
    <i class="fas fa-fw fa-star"></i>
    {% else %}
    <i class="far fa-fw fa-newspaper"></i>
    {% endcase %}

    <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
    </a>
</h3>
<div class="text-info">
    <strong class="post-date" datetime="{{post.date}}">{{post.date | date: "%d.%m.%Y"}}</strong>
    {% if post.author %}
    -
    <strong class="author">
        <i class="fas fa-user"></i>
        {{ post.author }}
    </strong>
    {% endif %}
</div>

<div class="media">
    {% if post.featured %}
    <div class="mr-3 media-featured" style="background-image: url({{ site.baseurl }}/assets/{{ post.featured }});"></div>
    {% endif %}
    <div class="media-body">
        {{ post.excerpt | strip_html | truncate: 750 }}
    </div>
</div>
