<a href="{{ site.baseurl }}{{ post.url }}">
  <h2>{{ post.title }}</h2>
</a>
<div class="post-meta">
  <strong class="post-date" datetime="{{post.date}}">{{post.date | date: "%b %-d, %Y"}}</strong>
  <strong class="author">| {{post.author}}</strong>
</div>

<div style="clear: both;">
{% if post.featured %}
  <div style="float: left; width: 20%; padding-right: 15px;">
    <img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="">
  </div>
{% endif %}
  <div style="float: left; width: 80%;">
    {{ post.excerpt | strip_html }}
  </div>
</div>
