<div class="row">
    {% for post in site.posts %}
    {% if post.lang == page.lang and post.category == "project" %}
    <div class="col-sm-6">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>

        {% if post.project_lead %}
        <p><strong>Project lead:</strong> {{ post.project_lead }}</p>
        {% endif %}

        <div>
            {% if post.featured %}
            <div class="image feature">
                <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="{{ page.featured }}"></a>
            </div>
            {% endif %}
            {{ post.excerpt | strip_html | truncate: 500 }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
