.donation {
  text-align: center;
  margin-bottom: 2em;

  & > .donation-items {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;

    & > .donation-btn {
      background-color: #007bff;
      border: 0;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      margin: 0 3px;
      min-width: 100px;
      padding: 10px;

      &:hover {
        background-color: #6610f2;
      }
    }
  }

  & > .donation-custom {
    margin: auto;
    width: 250px;
  }
}
