#footer {
    background-color: #222833;
    color: #fff;
    margin-top: 32px;
    padding: 64px 0;

    a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }

    hr {
        border-color: #fff;
    }

    .part-of {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;

        li {
            text-align: center;

            img {
                max-height: 150px;
            }
        }
    }

    .corporate-members {
        list-style: none;
        display: flex;
        align-items: center;
        padding-left: 0;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 1em;

            img {
                max-height: 150px;
            }
        }
    }
}
