#footer {
    background-color: #222833;
    color: #fff;
    margin-top: 32px;
    padding: 64px 0;

    a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }

    hr {
        border-color: #fff;
    }
}
