<!doctype html>
<html lang="{{ .Language }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- $style := (resources.Get "css/output.css") | resources.Minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.Title }}" />
    <meta property="og:title" content="{{ page.Title | default site.Title }}" />
    <meta property="og:description" content="{{ page.Summary }}" />
    {{- if .Params.cover }}
    {{- $cover := printf "%s/%s/%s" "images" .Section .Params.cover }}
    {{ with resources.Get $cover }}<meta property="og:image" content="{{ .Permalink }}" />{{ end }}
    {{- end }}
    <meta property="og:locale" content="{{ page.Lang }}" />
    {{- if .IsTranslated -}}{{- range .Translations }}
    <meta property="og:locale:alternate" content="{{ .Lang }}" />
    {{- end -}}{{- end }}
    <title>{{ site.Title }}</title>
    <meta name="description" content="{{ page.Summary }}" />
</head>

<body>

    {{- partial "header.html" . }}

    <main class="bg-white px-6 py-16 lg:px-8">
        <div class="mx-auto max-w-6xl text-base/7 text-gray-700">
    
        {{- block "main" . }}
        {{- end }}

        </div>
    </main>

    {{- partial "footer.html" . }}

    {{- block "javascript" . }}
    {{- end }}

</body>

</html>