{{ define "main" }}

<h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ .Title }}</h2>

<div class="mt-10 space-y-4 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16">

    {{ .Content }}

    <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
        {{- range .Data.Terms.ByCount }}
        <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm/6 font-semibold text-gray-900">
                        <a href="{{ .Page.RelPermalink }}">
                            <span class="absolute inset-x-0 -top-px bottom-0"></span>
                            {{ .Page.LinkTitle }}
                        </a>
                    </p>
                    <p class="mt-1 flex text-xs/5 text-gray-500 gap-x-2">
                        {{ i18n "lastupdate" }}:
                        <time datetime="{{ .Page.Lastmod }}">{{ .Page.Lastmod | time.Format ":date_medium" }}</time>
                    </p>
                </div>
            </div>
            <div class="flex shrink-0 items-center gap-x-4">
                <div class="hidden sm:flex sm:flex-col sm:items-end">
                    <p class="text-sm/6 text-gray-900">
                        <span class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">{{ .Count }}</span>
                    </p>
                </div>
                <svg class="size-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </div>
        </li>
        {{- end }}
    </ul>

</div>

{{ end }}