---
---

img {
    max-width: 100%;
    height: auto;
}
img + em {
    display: block;
    color: #808080;
    font-style: italic;
    font-size: 0.75em;
}

figure {
    display: table;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;

    figcaption {
        caption-side: bottom;
        display: table-caption;
    }
}

#header {
    background-color: #222833;
    background-size: cover;
    color: #fff;

    #language-switcher {
        text-align: center;

        a {
            color: #3ac984;
        }
    }

    #nav {
        font-size: 1.8em;

        a:hover {
            color: #3ac984;
            text-decoration: none;
        }
    }

    a {
        color: #fff;
    }
}

#footer {
    background-color: #222833;
    color: #fff;
    margin-top: 32px;
    padding: 64px 0;

    a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }

    hr {
        border-color: #fff;
    }
}

.media {
    margin: 32px auto;

    .media-featured {
        background-position: center;
        background-size: cover;
        border-radius: 50% !important;
        height: 150px;
        width: 150px;
    }
}

#map {
    height: 300px;
}

.donation {
    text-align: center;
    margin-bottom: 2em;

    & > ul.donation-items {
        list-style: none;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 0;

        & > li {
            display: inline-block;
        }
        & > li.donation-btn {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            margin: 0 3px;
            min-width: 100px;
            padding: 10px;

            &:hover {
                background-color: #6610f2;
            }
        }
    }
}
#donation-amount {
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 200px;
}
#donation-submit {
    background-color: #007bff;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 200px;

    &:disabled {
        cursor: default;
        opacity: 0.65;
    }
    &:not(:disabled):hover {
        background-color: #6610f2;
    }
}

.list-inline-item:not(:last-child) {
    margin-right: 1rem;
}
