---
title: Nieuws
layout: default
lang: nl
order: 3
redirect_from:
    - /blog-nl.html
---

<h1>
    <i class="far fa-newspaper"></i>
    Nieuws
</h1>
<hr>

<div class="row">
    <div class="col">
        {% include posts-list.html %}
    </div>
    <div class="d-none d-xl-block col-xl-4">
        <h2 class="h4">Volgende evenementen in België</h2>
        <hr class="mt-0">
        {% include osmcal.html locales="nl" %}

        <h2 class="h4">Categorieën</h2>
        {% include posts-categories.html %}

        {% include twitter.html %}
    </div>
</div>
