---
title: Nieuws
layout: default
lang: nl
order: 3
redirect_from:
    - /blog-nl.html
---

<h1>
    <i class="far fa-newspaper"></i>
    Nieuws
</h1>
<hr>

<div class="row">
    <div class="col">
        {% include posts-list.html %}
    </div>
    <div class="d-none d-xl-block col-xl-4">
        <h2 class="h4">Volgende evenementen in België</h2>
        <hr class="mt-0">
        {% include osmcal.html locales="nl" %}
        <hr>

        <h2 class="h4">Categorieën</h2>
        {% include posts-categories.html %}
        <hr>

        <h2 class="h4">Nieuwsbrief</h2>
        <p>
            <a target="_blank" href="{{ site.newsletter.subscribe }}">Schrijf je in</a> voor onze driemaandelijkse nieuwsbrief
            (<a target="_blank" href="{{ site.newsletter.archive }}">archief</a>)
        </p>

        {% include twitter.html %}
    </div>
</div>
