---
title: News
layout: main
lang: fr
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<div class="10u -1u">
					<header class="major">
						<h2>Actualités</h2>
					</header>
					<ul class="style">
						{% for post in site.posts offset: 0 limit: 10000 %}
						
						{% if post.lang == "fr" %}
						<li>
							{% include post-item.html %}
						</li>
						{% endif %}
						
						{% endfor %}
					</ul>
				</div>
			</section>
		</div>
	</div>
