{{ define "main" }}

<div class="grid min-h-full grid-cols-1 grid-rows-[1fr_auto_1fr] bg-white lg:grid-cols-[max(50%,36rem)_1fr]">
    <main class="mx-auto w-full max-w-7xl px-6 py-24 sm:py-32 lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:px-8">
        <div class="max-w-lg">
            <p class="text-base/8 font-semibold text-indigo-600">404</p>
            <h1 class="mt-4 text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-6xl">
                Page not found
            </h1>
            <p class="mt-6 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">
                Sorry, we couldn't find the page you're looking for.<br>
                This page has been moved or does not exist anymore ... 
            </p>
            <div class="mt-10">
                <a href="{{ .Site.Home.Permalink }}" class="text-sm/7 font-semibold text-indigo-600">
                    <span aria-hidden="true">&larr;</span> Back to home
                </a>
            </div>
        </div>
    </main>
    <div class="hidden lg:relative lg:col-start-2 lg:row-start-1 lg:row-end-4 lg:block">
        <img src="https://tiles.stadiamaps.com/static/stamen_terrain.png?size=400x400@2x&center=0,0&zoom=18&api_key={{ getenv "STADIA_API_KEY" }}" alt="Null Island" class="object-contain">
    </div>
</div>

{{ end }}