---
title: Actualités
layout: default
lang: fr
order: 3
redirect_from:
    - /blog-fr.html
---

<h1>
    <i class="far fa-newspaper"></i>
    Actualités
</h1>
<hr>

<div class="row">
    <div class="col">
        {% include posts-list.html %}
    </div>
    <div class="d-none d-xl-block col-xl-4">
        <h2 class="h4">Prochains événements en Belgique</h2>
        <hr class="mt-0">
        {% include osmcal.html locales="fr" %}

        <h2 class="h4">Catégories</h2>
        {% include posts-categories.html %}

        {% include twitter.html %}
    </div>
</div>
