{% assign lang=page.lang | default: 'en' %}

<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Referrer-Policy" content="same-origin">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    {% if page.layout == "event" %}
    <link rel="stylesheet" href="{{ 'assets/event.css' | relative_url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}">
    {% if page.highlight == true %}
    <link rel="stylesheet" href="{{ 'assets/highlight.css' | relative_url }}">
    {% endif %}
    {% seo title=false %}
</head>

<body>
    {% include header.html %}

    <div id="main" class="container">
        {{ content }}
    </div>

    <footer id="footer">
        <div class="container">
            {% assign footer = "footer-" | append: lang | append: ".html" %}
            {% include {{ footer }} %}

            <hr>

            <div class="copyright">
                Give feedback on <a href="https://github.com/osmbe/website/issues/" target="_blank">GitHub</a>,
                All this is <a href="https://github.com/osmbe/website/blob/master/LICENSE.txt" target="_blank">CC-BY
                    3.0</a> licensed.
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    {% if page.layout == "event" %}
    <script src="{{ 'assets/event.js' | relative_url }}"></script>
    {% else if page.name == "support.html" %}
    {% include overlay-stripe.html %}
    <script>
        window.app = {
            url: '{{ site.url }}',
            lang: '{{ lang }}'
        }
    </script>
    <script src="https://js.stripe.com/v3"></script>
    <script src="{{ 'assets/stripe.js' | relative_url }}"></script>
    {% endif %}

    {% include google-analytics.html %}
</body>

</html>