---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="#" id="logo">Some text here</a></h1>
					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section>
									<header class="major">
										<img src="{{ site.baseurl }}/assets/images/logo.png"></img>
										<div class="language-switcher" style="text-align: center; margin: 50px;">
											<a href="{{ site.baseurl }}/{{ site.path.en }}" class="language-en" style="display: inline-block; margin: 10px;">EN</a>
											<a href="{{ site.baseurl }}/{{ site.path.nl }}" class="language-nl" style="display: inline-block; margin: 10px;">NL</a>
											<a href="{{ site.baseurl }}/{{ site.path.fr }}" class="language-fr" style="display: inline-block; margin: 10px;">FR</a>
										</div>
									</header>
								</section>
							</div>
						</div>
				</div>
			</div>
			
