---
title: Events
layout: default
category: event
lang: en
redirect_from:
    - /calendar.html
---

<h1>
    <i class="far fa-newspaper"></i>
    Our latest news
</h1>
<h2>Events</h2>
<hr>

<div class="row">
    <div class="col">
        {% include posts-list.html %}
    </div>
    <div class="d-none d-xl-block col-xl-4">
        <h2 class="h4">Next events in Belgium</h2>
        <hr class="mt-0">
        {% include osmcal.html locales="en" %}

        <h2 class="h4">Categories</h2>
        {% include posts-categories.html %}

        {% include twitter.html %}
    </div>
</div>
