<div class="mx-auto mt-10 space-y-16">
    {{- range .Site.Data.contact }}
    <div class="flex gap-x-6 relative">
        <div class="flex size-10 shrink-0 items-center justify-center rounded-lg">
            <img src="https://community.osm.be/icons/{{ .type }}.svg" alt="{{ .type }}" class="size-6 text-white" />
        </div>
        <div>
            {{- with .resolved }}
            <h3 class="text-base/7 font-semibold text-gray-900">{{ .name }}</h3>
            <p class="mt-2 text-base/7 text-gray-600">{{ .description }}</p>
            <p class="mt-2 text-sm/7 text-gray-600">{{ .extendedDescription }}</p>
            <p class="mt-4 text-sm/6 font-semibold">
                <a target="_blank" href="{{ .url }}" class="text-indigo-600">
                    <span class="absolute inset-0"></span>
                    {{ .url }}
                </a>
            </p>
            {{- end }}
        </div>
    </div>
    {{- end }}
</div>
