<figure class="my-8 mx-auto">
    {{- if .Get "link" -}}
    <a target="_blank" href="{{ .Get "link" }}"{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end -}}

    {{- $u := urls.Parse (.Get "src") -}}
    {{- $src := $u.String -}}
    {{- if not $u.IsAbs -}}
      {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
        {{- $src = .RelPermalink -}}
      {{- end -}}
    {{- end -}}

    <img class="mx-auto aspect-video rounded-xl bg-gray-50 object-cover"
        src="{{ $src }}"
        {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
        {{- end -}}
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        {{- with .Get "loading" }} loading="{{ . }}"{{ end -}}
    >

    {{- if .Get "link" }}</a>{{ end -}}

    {{- if or (.Get "title") (.Get "caption") (.Get "attr") }}
    <figcaption class="mt-4 flex place-content-center gap-x-2 text-sm/6 text-gray-500">
        <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd"></path>
        </svg>
        {{ with (.Get "title") -}}
            {{ . }}
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
            {{- .Get "caption" | markdownify -}}
            {{- with .Get "attrlink" }}
            <a target="_blank" href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
    {{- end }}
</figure>
